.container-header-top {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
  display: flex;
  @media (min-width: 768px) {
    align-items: center;
    display: flex;
  }
}

.nav-menu-list,
.list-contacts_email-ref,
.list-contacts_tel-ref {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu-list {
  @media (max-width: 767px) {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
  }
}

.nav-menu-list {
  @media (min-width: 768px) {
    display: flex;
    margin-left: 93px;
  }
}

.nav-menu_page,
.nav-menu-contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--heading-text-color);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--click-color);
    cursor: pointer;
  }
  @media (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.nav-menu_current-page {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--click-color);
  }
  &,
  &:hover,
  &:focus {
    color: var(--click-color);
    cursor: pointer;
  }
  @media (max-width: 767px) {
    &::after {
      display: none;
    }
  }
}

.nav-menu-contacts {
  @extend .nav-menu_page;
  &:hover,
  &:focus {
    color: var(--click-color);
    cursor: pointer;
  }
}

.list-contacts_tel-ref,
.list-contacts_email-ref {
  display: inline-flex;
  color: var(--paragraph-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  gap: 10px;
  transition: color 250ms var(--timing-function);
  @media (min-width: 480px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  //   @media (min-width: 1200px) {
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  // }
}

.list-contacts_tel-ref {
  @media (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: #2196f3;
    transform: translateY(-100%);
  }
  @media (max-width: 400px) {
    font-size: 26px;
  }
}

.list-contacts_email-ref {
  @media (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    transform: translateY(100%);
  }
}

.header-top {
  border-bottom: var(--header-bottom-border) 1px solid;
  @media (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.icon-smartphone {
  fill: var(--paragraph-color);
  transition: fill 250ms var(--timing-function);
  .list-contacts_tel-ref:hover &,
  &:hover {
    fill: var(--click-color);
  }
  &:focus {
    fill: var(--click-color);
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.icon-envelope {
  fill: var(--paragraph-color);
  transition: fill 250ms var(--timing-function);
  &:hover,
  .list-contacts_email-ref:hover & {
    fill: var(--click-color);
  }
  &:focus {
    fill: var(--click-color);
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.tel-ref:focus .icon-smartphone,
.list-contacts_email-ref:focus .icon-envelope {
  fill: var(--click-color);
}

.nav-menu_current-page,
.nav-menu_page,
.nav-menu-contacts {
  text-decoration: none;
}

.list-contacts_tel-ref:hover,
.list-contacts_tel-ref:focus,
.list-contacts_email-ref:hover,
.list-contacts_email-ref:focus {
  cursor: pointer;
  color: var(--click-color);
}

.nav-menu_button {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    & .icon-close {
      display: none;
    }
    &.is-open .icon-close {
      display: block;
    }
    &.is-open .icon-menu_nav {
      display: none;
    }
  }
}

.nav-container-mobile {
  background-color: var(--main-bg-color);
  padding: 48px 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (max-width: 767px) {
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.list-contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.mobile-menu {
  display: flex;
  @media screen and (max-width: 416px) {
    flex-wrap: wrap;
  }
}

.mobile-menu_list {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:last-child {
    border-right: none;
  }
}

.mobile-menu_social-links {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
  padding: 5px;
}

.container-header-top.header-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.container-header-desktop {
  width: 96%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.main-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav-menu-list_item {
  position: relative;
}

.nav-menu-list .nav-menu-list_item + .nav-menu-list_item,
.list-contacts .nav-menu-list_item + .nav-menu-list_item {
  margin-left: 50px;
}

.list-contacts {
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.list-contacts_icon-email-tel {
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.container-header-desktop {
  @media screen and (min-width: 1200px) {
    margin-left: 67px;
    margin-right: 67px;
  }
}
