:root {
  --heading-text-color: #212121;
  --click-color: #2196f3;
  --paragraph-color: #757575;
  --footer-color: #2f303a;
  --main-font: "Roboto", sans-serif;
  --main-bg-color: #ffffff;
  --bg-btn-color: #188ce8;
  --secondary-section-color: #f5f5f5;
  --team-section-color: #f5f4fa;
  --portfolio-cards-color: #eeeeee;
  --logo-color: #000000;
  --header-bottom-border: #ececec;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --bg-color-hero: #c4c4c4;
  --clients-logo-color: #afb1b8;
  --bg-modal-color: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}
$centerText: center;
$radiusBtn: 4px;
