.features-section_list {
  width: 1170px;
  display: flex;
}
.features-section_heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}
.features-section_list .features-section_item {
  width: calc((100% - 90px) / 4);
}

.features-section_item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--team-section-color);
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.features-section_item:nth-child(1)::before {
  background-image: url("../images/antenna\ 2.svg");
}
.features-section_item:nth-child(2)::before {
  background-image: url("../images/clock\ 2.svg");
}
.features-section_item:nth-child(3)::before {
  background-image: url("../images/diagram\ 2.svg");
}
.features-section_item:nth-child(4)::before {
  background-image: url("../images/astronaut\ 2.svg");
}

.features-section_list .features-section_item + .features-section_item {
  margin-left: 30px;
}
.features-section_text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
