.team {
  background-color: var(--team-section-color);
}

.team_list-staffer,
.clients-list {
  display: flex;
  margin-top: 50px;
  list-style-type: none;
}
.team_card-staffer {
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team_data-staffer {
  padding-top: 30px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
.team_name-staffer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}
.team_position-staffer {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.team_list-staffer .team_card-staffer + .team_card-staffer {
  margin-left: 30px;
}
